.tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 20px 6px;

  > span  {
    border-radius: 20px;
    padding: 6.5px 12px;

    > span {
      font-size: 14px!important;
    }
  }

  > .fast-filters-btn {
    border: none;
    border-radius: 20px;
    padding: 6.5px 12px;
    margin: 3px 8px 3px 0;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 18.75px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    :hover {
      color: #00d1e4!important;
    }
  }
}

.ant-modal-footer {
  display: flex;
  > button {
    height: auto;
    padding: 0;
    > button {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}

.text-wrapper {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}