.brand-selector {
  font-family: Arial, sans-serif;
  width: 80%;
  display: grid;
  gap: 15px;

  .select-all {
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      margin: 5px 0;
      font-size: 18px;
      cursor: pointer;
      gap: 10px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

      input {
        margin-right: 10px;
      }

      .color-box {
        width: 20px;
        height: 20px;
        border-radius: 4px;
        margin-right: 10px;
        border: 1px solid #ccc;
      }
    }
  }
}
