// Ваш файл ProductGallery.scss
.image-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-slide {
  }

  &-thumbnails-wrapper {
  }
}

.image-gallery-left-nav, .image-gallery-right-nav {
}

.image-gallery-icon {
  filter: drop-shadow(0 2px 2px rgb(174, 174, 174));
}

.image-gallery-svg {
  height: 60px!important;
}

.image-gallery-icon:hover {
  color: white!important;
}

.image-gallery-thumbnail:hover {
  border: 3px solid #d6d6d6;
}

.image-gallery-thumbnail:focus, .image-gallery-thumbnail.active {
  border: 3px solid #d6d6d6;
}

.image-gallery-thumbnails-container {
  display: flex;
  flex-wrap: wrap;
}