.cart-layout {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.content-block-header {
    position: fixed!important;
    height: 55px;
    width: 100%;
    padding: 15px;
    background-color: white;
    border-bottom: 1px solid #f5f5f5!important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    font-weight: 400;
}

.content-address-block {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 15px;
    margin-top: 45px;
}

.address-item {
    width: 100%;
    min-height: 40px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    //border-bottom: 1.5px solid #ececec;
    & > .field-name {
        padding-bottom: 10px;
        font-size: 17px;
        font-weight: 500;
    }

    @media (min-width: 768px) {
        padding-bottom: 0;
    }
}