.cart-layout {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.content-block-header {
    height: 60px;
    width: 100%;
    padding: 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    font-weight: 400;
}

.content-block-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.content-block {
    padding: 15px;
    padding-bottom: 80px;
    width: 100%;
    max-width: 1200px;
    height: auto;
}

.cart-item {
    margin-top: 15px!important;
    width: 100%;
    min-height: 70px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;

    &.redirect {
        margin-top: unset;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        border-bottom: 1px solid green;
        &.borderless {
            border: none;
            margin-top: 15px;
        }
    }

    &.cart-item-transparent {
        background-color: unset;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

}

.cart-item-card {
    margin-top: 15px!important;
    width: 100%;
    min-height: 70px;
    background-color: white;
    border-radius: 8px;

    .ant-card-body {
        padding: 12px 0 12px 0;
        > div > .ant-tabs-nav > .ant-tabs-nav-wrap {
            margin-left: 10px;
        }
    }

    .ant-card-head {
        padding: 0;
        > div > div {
            width: 100%;
            > div {
            width: 100%;
                > div {
                    border: none!important;
                }
            }
        }
    }
}

.transparent {
    background-color: unset;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.cart-product-info {
    display: flex;
    justify-content: space-between;
    gap: 7px;
}

.cart-product-info-third-column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cart-order-info {
    background-color: white;
    gap: 15px;
}

.tabs {

    > .ant-tabs-nav {
        margin: 0;
        > div > div > .ant-tabs-tab {
            padding: 0 0 12px 0;
        }
    }
}

.cart-product-info-submit-btn-wrapper{
    display: flex;
    justify-content: center;
}

.cart-product-info-submit-confirm-oferta {
    width: calc(100vw - 30px);
    margin-top: 15px;
}

.cart-product-info-submit-btn {
    width: calc(100vw - 30px);
}

.total-price {
    width: 100%;
    display: flex;
    justify-content: end;
    font-weight: 500;
    font-size: 15px;
}