.ant-modal {
  vertical-align: bottom!important;
  max-width: 100vw;
  height: 100%;
}

.ant-modal-body {
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-modal-root .ant-modal-centered::before {
  vertical-align: bottom!important;
  content: "";
}

.address-items-wrapper {
  padding-top: 15px;
  border-top: 1px solid #ffffff;
  display: grid;
  gap: 15px;

  @media (min-width: 768px) {
    padding-top: 0;
    gap: 0;
  }
}

.address-item-wrapper {
  display: flex;
  align-items: start;
  gap: 10px;
  font-size: 16px;
}

.address-item-wrapper-data {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

:where(.css-dev-only-do-not-override-15rg2km).ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: rgb(1, 194, 195);
  background-color: rgb(1, 194, 195);
}

.ant-modal-footer {
  padding-right: 20px;
  padding-left: 20px;
  & > .ant-btn-default {
    display: none;
  }
}

.ant-btn-primary {
  height: 55px!important;
  font-size: 18px!important;
  font-weight: 500!important;

  &.ant-btn-sm {
    height: unset!important;
  }
  &.ant-btn-md {
    height: unset!important;
  }
}