.data-section {
    background-color: white;
    margin: 10px;
    padding: 10px;
    height: auto;
}

.ant-modal-wrap {

}

.ant-modal {
    vertical-align: bottom!important;
    max-width: 100vw;
    height: unset!important;
}

.ant-modal-body {
    padding: unset!important;
}

.ant-modal-content {
    padding: 0!important;
    border-radius: 0!important;
    bottom: 0;
}

.content-size-wrapper {
    background-color: #ececec;
    width: auto;
    height: 100%;
    display: grid;
    gap: 5px;
    padding: 10px;
    max-width: calc(100vw - 20px);
    grid-template-columns: repeat(4, auto);

}

.list {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

.counter-wrapper {
    position: absolute;
    background: #ececec;
    margin-top: -16px;
    margin-left: -16px;
    padding: 2.5px 6.5px;
    border-radius: 50%;
    font-size: 12px;
    border: 2px solid white;
}

.size-wrapper {
    background-color: white;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    border: solid #f1f1f5 1px;
    min-width: fit-content;

    &.selected {
        box-sizing: border-box;
        border: solid #000000 1px;
        padding: 10px;
    }
}

:where(.css-dev-only-do-not-override-15rg2km).ant-modal-root .ant-modal-centered::before {
    vertical-align: bottom!important;
    content: "";
}

.ant-modal-title {
    display: none;
}

.ant-modal-footer {
    & > .ant-btn-default {
        display: none;
    }
}

.ant-modal-footer {
    margin-top: 10px;
    margin-right: 10px!important;
    margin-left: 10px!important;
    padding: unset!important;
    padding-bottom: 10px!important;
    & > .ant-btn-primary {
        width: 100%!important;
        margin-inline-start: unset!important;
        height: 75px;
        font-size: 20px;
        font-weight: 600;
    }
}

.layout-wrapper {
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content-wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    //overflow: auto;
}

.carousel-wrapper {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    background-color: white;
    min-height: 339px;

    @media (max-width: 768px) {
        justify-content: center;
        align-items: center;
        margin-top: 40px;

        > .image-gallery {
            width: 80%;
        }
    }

    > .category-title {
        cursor: pointer;
        font-style: normal;
        width: fit-content;
        font-weight: 800;
        font-size: 22px;
        line-height: 130%;
        padding: 0 0 20px 0;
        display: flex;
        gap: 6px;
    }

    @media (min-width: 768px) {
        > .swiper {
            min-height: 339px!important;
            aspect-ratio: 1 / 1 !important;
            object-fit: contain!important;

            > .swiper-wrapper > .swiper-slide {
                display: flex;
                align-items: center;
            }
        }
    }
}

.breadcrumb-wrapper {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-bottom: 20px;
}

.breadcrumb-wrapper-item {
    color: rgba(0, 0, 0, 0.45);
    transition: color 0.2s;
    padding: 0 4px;
    border-radius: 4px;
    height: 22px;
    display: inline-block;
    margin-inline: -4px;
    cursor: pointer;

    &:hover {
        color: rgba(0, 0, 0, 0.88);
        background-color: rgba(0, 0, 0, 0.06);
    }
}

.item-details-wrapper {
    margin-top: 40px;
    width: 90%;
}

.product-info-wrapper {
    margin-left: 73px;
    padding-top: 40px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;

    @media (max-width: 768px) {
        padding-bottom: 20px;
    }

    @media (min-width: 768px) {
        padding-top: 30px;
    }

    div.ant-divider {
        margin: 16px 0;
    }
}

.product-info-phone-wrapper {
    display: flex;
    flex-direction: column;
    z-index: 1;
    //background-color: #f2f2f2;
    //box-shadow: 0px -22px 65px -2px rgb(231, 231, 231);
    background: linear-gradient(to top, #f2f2f2 97.5%, rgba(255, 255, 255, 0));
    //height: 100%;
    gap: 10px;
    padding: 10px 16px 120px 16px;
    width: 100%;
}

.title-wrapper {
    display: grid;
    gap: 24px;
    align-items: center;

    @media (max-width: 768px) {
        &.bar {
            gap: 0;
            justify-items: center;
            padding-top: 8px;
        }
    }

    > .first-part {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 0 10px;

        > .dot {
            color: #868695;
            width: 4px;
            height: 20px;
            right: 1px;
            padding: 0 4px;
        }
    }

    > .phone-bar-title {
        font-size: 14px;
        color: #939393;
    }

    &.transparent {
        box-shadow: unset!important;
    }
}

.title {
    font-size: 24px;
    font-weight: 700;
    font-family: "Roboto Condensed";
    font-optical-sizing: auto;
}

.product-info__item {
    background: white;
    width: 100%;
    min-height: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 16px;

    &.standart {
        font-size: 20px;
        font-family: "Roboto Condensed";
        font-optical-sizing: auto;
        height: fit-content;
        overflow: auto;
    }

    &.transparent {
        padding: unset;
        box-shadow: unset;
    }

    &.space-between {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &.template {
        display: grid;
        gap: 7px;
        font-size: 24px;

        > .title {
            @media (max-width: 768px) {
                font-size: 4.8vw;
            }
            font-weight: 700;
        }
    }

    &.poizon_auth {
        height: 41px;
        padding: 16px;
        display: flex;
        align-items: center;
        background: rgba(0, 219, 219, .1);
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;

        &.pzn_img {
            display: block;
            -o-object-fit: contain;
            object-fit: contain;
            background: none;
            margin-top: 0;
            width: fit-content;
            padding: 0;
            box-shadow: none;
        }

        &.main-txt {
            font-family: Roboto Condensed;
            font-size: 14px;
            font-weight: 400;
            white-space: nowrap;
            background: none;
            margin-top: 0;
            box-shadow: none;
        }

        &.second-txt {
            color: #2b2c3c;
            font-size: 12px;
            font-weight: 300;
            line-height: 14px;
            margin-left: 10px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            background: none;
            margin-top: 0;
        }
    }
}

.group {

}

.sm_divider {
    margin-left: 10px;
}

.label {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.label_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.size_label {
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    @media (min-width: 768px) {
        font-weight: 500;
    }
}

.size_guide {
    color: #7f7f8e;
    font-size: 12px;
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    ::after {
        content: "";
        width: 12px;
        height: 12px;
        background-image: url(https://cdn-img.poizon.com/node-common/8eba9f44-9f7f-caae-eec9-30b367c37ced.svg);
        background-position: 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.btn_wrapper {
    width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    z-index: 2;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto Condensed";
    border-radius: 20px;

    &.btn-cart {
        border-radius: 20px;
    }

    &:hover {
        background: unset;
    }

    &.default {
        height: 40px!important;
        font-weight: 400;
        font-size: 15px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
}

.brand {
    width: 100%;
    display: flex;
    align-items: center;
    height: 56px;
    padding: 16px;
    position: relative;

    grid-template-columns: 40px calc(100% - 48px);
    grid-gap: 0 8px;
    gap: 0 8px;
    cursor: pointer;

    @media (min-width: 768px) {
        background: rgba(120, 120, 120, 0.1);
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .brand-logo {
        height: 100%;
        border-radius: 20px;
        object-fit: contain;
    }

    .brand-info {
        display: flex;
        flex-direction: column;

        > span > img {
            height: 15px;
            padding-left: 5px;
        }

        .brand-name {
            font-weight: bold;
            font-size: 1.2rem;
            white-space: nowrap
        }

        .items {
            color: #777;
            font-size: 0.9rem;
            white-space: nowrap;
        }
    }

    .brand-name-arrow {
        width: 100%;
        display: flex;
        justify-content: end;
    }
}

.footer-btn-wrapper {
    width: 100%;
    padding: 10px 16px;
    border-radius: unset;
    height: fit-content;
}