.content-block-profile {
  padding-top: unset!important;
  height: 100%;
}

.profile-items-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 80px;
}

.balance-wrapper {
  height: 110px;
  display: grid;
  gap: 10px;

  & > button {
    width: 150px;
  }
}

.fillUpBtn {
  height: 40px!important;
}