.list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 700px;
  overflow: auto;
  flex-wrap: nowrap;

  > div {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}