.header-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.header-segmented {
  margin-top: 15px;
  width: 100px;
}

.ant-segmented {
  border-radius: 0px;
  background-color: unset;
  padding: 0;
  width: fit-content;
}

.ant-segmented-group {
  height: 30px;
}
.ant-segmented-item {
  &::after {
    background-color: unset!important;
  }
}

.ant-segmented-item-label {
  display: flex!important;
  align-items: start!important;
  justify-content: center!important;
  line-height: 25px!important;
}

.ant-segmented-item-selected {
  box-shadow: none!important;
  border-bottom: 2px solid rgb(1, 195, 195);
  border-radius: 0 !important;
  > .ant-segmented-item-label {
    font-weight: 600;
    font-size: 15px;
    transition: all 0.07s ease-in;
  }
}

.ant-segmented-thumb {
  box-shadow: none!important;
  border-bottom: 2px solid rgb(1, 195, 195);
  border-radius: 0 !important;
}

.ant-segmented-item-label {
  color: black!important;
  font-size: small;
}