.slide {
  display: flex!important;
/*  justify-content: center!important;
  align-items: center!important;*/
  //margin-top: 55px;
  //padding-bottom: 80px;
  min-height: 339px;
  align-items: center;
}