.loader{
  position: fixed;
  background-color: black;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 6;
  visibility: visible;
  opacity: 1;
}

.loader__item {
  height: 100%;
  width: 100%;
  background-color: black;
  border: 3px solid white;
  display: flex;
  align-items: center;
  color: white;
  font-size: 3rem;
  padding: 10px;
}

.loader__item_left {
  font-family: Bebas Neue, sans-serif;
  display: flex;
  justify-content: flex-start;
  color: white;
  position: absolute;
}

.loader__item_right {
  font-family: Bebas Neue, sans-serif;
  display: flex;
  justify-content: flex-end;
  margin-right: 110px!important;
  //color: white;
}

/*::-webkit-scrollbar {
  width: 0;
  height: 0;
}*/

/*.entity {
    display: none;
}*/

.loader__item_wrapper {
  width: 100%;
}


.loader-box-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: initial;
}

/*.loader-box {
    opacity: 0;
    width: 200px;
    height: 50px;
    display: flex;
    background-color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 3.8rem;
    padding: 5px 20px 5px 20px;
    overflow: hidden;
}*/

.loader-box_white {
  font-family: Bebas Neue, sans-serif!important;
  opacity: 0;
  width: 55px;
  height: 55px;
  display: flex;
  background-color: #6decfb;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 3.8rem;
  padding: 10px 20px 5px 20px;
  overflow: hidden;
  box-shadow: -60px 8px 0px 67px rgb(0, 0, 0);
  -webkit-box-shadow: -60px 8px 0px 67px rgb(0, 0, 0);
  -moz-box-shadow: -60px 8px 0px 67px rgb(0, 0, 0);
  margin-right: 140px;

  @media (max-width: 600px) {
    margin-right: 0;
  }
}

.loader__item_left_partition {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  background: black;
  margin-bottom: 5px;
}

.loader-box_black-wrapper {
  overflow: hidden;
  width: 320px;
  height: 50px;
}

.loader-box_black {
  opacity: 0;
  width: 128px;
  height: 60px;
  display: flex;
  background-color: black;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 3.8rem;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 8px 10px 3px 10px;
  overflow: hidden;
  margin-right: 330px;
}

.loader-box__item {
  margin: 10px;
}