.filters-component-wrapper {
  padding: 20px;

  @media (min-width: 768px) {
    position: sticky;
    top: 52px;
  }
}

.filters-phone-headers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  padding-bottom: 10px;

  button {
    font-size: 13px;
    border-radius: 8px;
    padding: 0px 8px;
  }
}

.params-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.params-item-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.param-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -.48px;
}

.inputs-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  > span {
    border-radius: 8px!important;
  }
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 24%) !important;
  gap: 3px;
}

.size-wrapper {
  background-color: white;
  padding: 10px;
  cursor: pointer;
  border: solid #f1f1f5 1px;
  border-radius: 5px;
  &.selected {
    box-sizing: border-box;
    border: solid #000000 1px;
    padding: 10px;
  }
}