.ant-input-affix-wrapper {
  border-radius: 8px!important;
  background-color: #efefef;
  border-color: #efefef;
}

.ant-input {
  background-color: #efefef;
}

.ant-tag {
  border-radius: 8px;
  padding: 4px 8px;
  margin: 3px 8px 3px 0;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 18.75px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ant-btn{
  background-color: #efefef;
  border-radius: 8px;
}

.ant-btn-primary {
  background-color: rgb(1, 194, 195);
  &:not(:disabled):hover {
    background-color: rgb(1, 194, 195);
  }
}

:where(.css-dev-only-do-not-override-15rg2km).ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: rgb(1, 194, 195);
}

:where(.css-dev-only-do-not-override-15rg2km).ant-input:hover {
  border-color: rgb(1, 194, 195);
}

:where(.css-dev-only-do-not-override-15rg2km).ant-carousel .slick-dots li.slick-active button {
  background: #a1dfe1;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-btn-default:not(:disabled):hover {
  color: rgb(1, 194, 195);
  border-color: rgb(1, 194, 195);
}

:where(.css-dev-only-do-not-override-15rg2km) a:hover {
  color: black;
}

.swiper-pagination-bullet {
  width: 6px!important;
  height: 6px!important;
  background: #b5b5b5!important;
}

.swiper-pagination-bullet-active {
  width: 6px!important;
  height: 6px!important;
  background: rgb(1, 194, 195) !important;
}
