.ant-input-affix-wrapper {
  border-radius: 0!important;
  background-color: #efefef;
  border-color: #efefef;
}

.ant-input {
  background-color: #efefef;
}

.ant-btn{
  background-color: #efefef;
  border-radius: 0!important;
}